/*
  Color {
      Darkest Black : #010101
      Black Mate : #16161a
      Purple : #7f5af2
      Green : #2cb67d
      Light Grey : #94a1b2
      Grey : #72757e
   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #010101 !important;
  color: #94a1b2 !important;
  font-family: monospace, sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p.success {
  color: green;
}

p.danger {
  color: red;
}