.footer h3 {
    color: #7f5af2;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #94a1b2;
    letter-spacing: 0.5px;
    margin-top: 20px;
    text-align: justify;
}

.footer p span {
    font-weight: 400;
    font-size: 17px;
    color: #94a1b2;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

#info-me {
	margin-top: 75px;
	color: #7f5af2;
	font-size: 12px;
	text-align: center;
}