// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    background-color: #010101;
    /* background-image: linear-gradient(180deg, #988780 15%, #13292A 100% ); */
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }