.skill {
    padding: 0 0 50px 0;
    position: relative;
}

skill-box {
    background-color: #7f5af2;
    border-radius: 8px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skill h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.skill h5 {
    font-size: 30px;
    font-weight: 600;
}

.skill p {
    font-size: 18px;
    letter-spacing: 00.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skill-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.skill-slider .item img {
	// background-color: #7f5af2;
	display: block;
    width: 50%;
    margin: 0 auto 15px auto;
}

.skill-slider .item img .pg-bar {
    width: 50%;
    margin: 15px auto 15px auto;
	align-items: center;
	position: relative;
}



// .backgrounf-image-left {
//     top: 28%;
//     position: absolute;
//     bottom: 0;
//     width: 40%;
//     z-index: -4;
// }